:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.words {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}

.word {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.allCorrect {
  flex-direction: row;
  gap: 0;
}

.allCorrect > .word {
  gap: 0;
}

.allCorrect > .word > input {
  width: 3rem;
  background: transparent;
  filter: invert(1);
  box-shadow: none;
}

input {
  width: 13rem;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.7rem;
  cursor: pointer;
  transition: width 1.5s;
  transition-timing-function: ease-in-out;
}

input:focus {
  outline: #fe5e41 outset 0.4rem;
  outline-offset: -0.2rem;
}

input.correct {
  background-color: #00a878;
}

input.semiCorrect {
  background-color: #feb95f;
}

input.incorrect {
  animation: shake 0.35s;
}

.dark {
  color: black;
  background-color: rgba(255, 255, 255, 0.75);
  box-shadow: 0.5rem 0.5rem rgba(255, 255, 255, 0.3);
}

.light {
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0.5rem 0.5rem rgba(0, 0, 0, 0.3);
}

.counter {
  padding: 1.5rem;
  font-weight: 500;
  font-size: 1.2rem;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.nextButton {
  position: absolute;
  right: 5%;
  padding-block: 0.5rem;
  background-color: transparent;
  border-radius: 1rem;
  color: rgba(255, 255, 255, 0.7);
  font-weight: 500;
  border: 3px solid #ffffff4d;
  overflow: hidden;
  animation: fade-in 1s;
}

.nextButton:hover {
  transform: scale(1.05);
  border-color: #fff9;
}
.nextButton:hover::before {
  animation: shine 1s ease-in-out infinite;
}

.nextButton::before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100%;
  background-image: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0) 70%
  );
  top: 0;
  left: -100px;
  opacity: 0.6;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes shine {
  0% {
    left: -100px;
  }
  to {
    left: 100%;
  }
}
